.category-details {
  > .img {
    @apply absolute w-full h-[calc(100vh-60px)] md:h-[70vh] min-h-[300px] object-cover left-0 top-0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
    }
    &::after {
      content: "";
      position: absolute;
      transform-origin: 0 0;
      bottom: -50%;
      left: 0%;
      width: 150%;
      height: 50%;
      transform: rotate(-4deg);
      z-index: 20;
      background-color: rgb(255, 255, 255);
    }
  }
  .icons {
    > div {
        @apply flex flex-col items-center uppercase gap-2;
      .icon-wrapper{
        @apply animate-pulse bg-primary rounded-full flex justify-center items-center p-2 w-fit;
      }
    }
  }
  > .screen {
  }
}
