@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #004aad;
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
