.main-header {
  .logo {
    // animation: name duration timing-function delay iteration-count direction
    //   fill-mode;
    span {
      display: inline-block;
      opacity: 0;
      translate: -100px 0px;
    }
    > span:nth-child(1) {
      transition: all 0.6s ease-in-out;
    }
    > span:nth-child(2) {
      transition: all 0.6s 0.2s ease-in-out;
    }
    > span:nth-child(3) {
      transition: all 0.6s 0.4s ease-in-out;
    }
    > span:nth-child(4) {
      transition: all 0.6s 0.6s ease-in-out;
    }
    > span:nth-child(5) {
      transition: all 0.6s 0.8s ease-in-out;
    }
    &.active {
      span {
        translate: 0px 0px;
        opacity: 1;
      }
    }
  }
  nav {
    ul {
      display: flex;
      li {
        text-transform: capitalize;
        transition: all 0.3s ease;
        cursor: pointer;
        height: 100%;
        font-weight: 500;
        >button {
          background-color: white;
          color: var(--primary);
          display: inline-block;
          padding: 16px;
          height: 100%;
        }
        &:not(.no-ani):hover {
          span {
            transition: translate 0.1s ease;

            display: inline-block;
            translate: 0px 3px;
          }
          >button {
            background-color: var(--primary);
            color: white;
          }
        }
      }
    }
  }
  &.scrolled {
    @apply drop-shadow;
  }
  &.scrolled2 {
    @apply drop-shadow;
  }
}
// @keyframes fadeIn {
//   // 0% {
//   //   translate: -100px 0px;
//   //   opacity: 0;
//   // }
//   100% {
//     opacity: 1;
//     translate: 0px 0px;
//   }
// }
