@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #004aad;
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
.main-swiper > .swiper-wrapper > .swiper-slide {
  display: flex !important;
  flex-direction: column;
  @media (min-width: 768px) {
    min-height: calc(100vh - 244px);
  }
}
.main-swiper > .swiper-wrapper > .swiper-slide > *{
  flex-grow: 1;
}
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
